                            <tr>
                            	<td bgcolor="#FFFFFF" style="padding-top:5px; padding-right:20px; padding-bottom:17px; padding-left:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15pt; color:#999999;">
                                                                       
                                   	<!-- Start of paragraph's picsture/icon container -->
                                    <table width="84" align="left" height="222" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-width: 0;">
                                        <tr>
                                            <td style="padding-top:0px; padding-right:0px; vertical-align:top;">
                                            <img alt="sportPhoto" width="64" height="64" src="-sportPhotoURL-" border="0" hspace="0" vspace="0" style="display: block;"></td>
                                        </tr>
                                    </table>
                                    <!-- End of paragraph's picsture/icon container -->
                                    
                                    <div style="line-height:15pt;"><h2 style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:17pt; color:#445869; font-weight:bold; margin-top:0; margin-bottom:10px !important;">-sport-</h2> </div>                                     
                                   	
                                   	<div style="line-height:15pt;">
                                   		-description-
                                    </div>
                                    
                                    <div style="line-height:15pt;">
                                     <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-width: 0;">
                                        <tr>
                                            <td width="24" style="padding-top:5px; padding-bottom:5px; padding-left:5px">
                                                <a href="#"><img alt="location" src="http://www.teamonapp.com/emailImages/locationsIcon.png" float="center" border="0" vspace="0" hspace="0" style="display:block;"></a>
                                            </td>
                                            <td style="padding-top:5px; padding-bottom:5px; text-align: left;">
                                            	<a href="http://maps.google.com/maps?daddr=-location-"> -location- </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="24" style="padding-top:5px; padding-bottom:5px; padding-left:2px " >
                                                <a href="#"><img alt="datetime" src="http://www.teamonapp.com/emailImages/dateTimeIcon.png" border="0" vspace="0" hspace="0" style="display:block;"></a>
                                            </td>
                                            <td style="padding-top:5px; padding-bottom:5px; text-align: left;">
                                            	-datetime-
                                            </td>
                                        </tr>
                                       </table>
                                    </div>
                                   <div style="line-height:15pt;">
                                   	<table cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-width: 0;" width="550">
                                          <tr>
                                         	<td valign="middle" style="padding-top:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;">
                                                <a href="TeamOn://game/-gameID-" style="color:#ffffff;"><img alt="iOSLink" src="http://www.teamonapp.com/emailImages/ios.gif" height="36" border="0" vspace="0" hspace="0" style="display:block;"></a>
                                            </td>
                                           
                                           	<td valign="middle" style="padding-top:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;">
                                                <a href="https://www.teamonapp.com/gameID=-gameID-" style="color:#ffffff;"><img alt="androidLink" src="http://www.teamonapp.com/emailImages/android.gif" height="36" border="0" vspace="0" hspace="0" style="display:block;"></a>
                                            </td>
                                        	
                                        	<td valign="middle" style="padding-top:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;">
                                                <a href="https://teamonapp.com/web/lversion/index.html#view-game.html?gameID=-gameID-"> View Game on Web Browser </a>
                                            </td>
                                        
                                        </tr>
                                    </table>  
                                   </div>
                                </td>
                            </tr>